<div class="row mb-4">

</div>


<ngb-tabset>
  <ngb-tab title="Main">
    <ng-template ngbTabContent>
      <div class="row">
        <div *ngIf="message.length>0" class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert" (click)="message=''" aria-hidden="true">&times;</button>
          <strong>{{message}}</strong>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7">
          <div class="row" *ngIf="show.image">
            <div class="col-md-4">
              <div class="card text-left">
                <img class="card-img-top" src="{{show.image.medium}}" alt="">
              </div>
            </div>
            <div class="col-md-8">

              {{cleanParaghraph(show.summary)}}

            </div>
          </div>

        </div>
        <div class="col-md-5" *ngIf="show.network">
          <div class="card" style="width: 27rem;">
            <div class="card-body">
              <h5 class="card-title">Show info</h5>

              <table class="c-table">
                <tr>
                  <th>Network:</th>
                  <td style="width:100%">{{show.network.name}}</td>
                  <td style="width:100%">{{show.network.country.name}}</td>
                </tr>
                <tr>
                  <th>Schedule:</th>
                  <td>Time:{{show.schedule.time}}</td>
                  <td *ngFor="let sch of show.schedule.days;let i=index"> ,{{sch}}</td>
                </tr>
                <tr>
                  <th>Status</th>
                  <td>{{show.status}}</td>
                </tr>
                <tr>
                  <th>Show Type</th>
                  <td>{{show.type}}</td>
                </tr>
                <tr>
                  <th>Genres</th>
                  <td *ngFor="let g of show.genres">{{g}}</td>
                </tr>

              </table>

            </div>
          </div>

        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Episodes" >

    <ng-template ngbTabContent>
      <table class="table" *ngIf="episodesList.length>0;else noEpisode">
        <thead>
          <tr>
            <th>Sr.#</th>
            <th>Name</th>
            <th>Season</th>
            <th>Image</th>
            <th>Link</th>
          </tr>
        </thead>
        <tbody>
          <tr style="cursor:pointer" *ngFor="let ep of episodesList | paginate: { itemsPerPage: 6, currentPage: p };let i=index">
            <td>{{i+1}}</td>
            <td>{{ep.name}}</td>
            <td>{{ep.season}}</td>
            <td>
              <img src="{{ep.image.medium}}" alt="image not flound" width="40">
            </td>
            <td>{{ep.url}}</td>
          </tr>
        </tbody>

      </table>
      <div class="pull-right">
        <pagination-controls class="text-center mt-1" (pageChange)="p = $event"></pagination-controls>

      </div>

      <ng-template #noEmpisode>
        <p>No Episode Found</p>
      </ng-template>

    </ng-template>
  </ngb-tab>
  <ngb-tab title="Cast" >
    <ng-template ngbTabContent class="text-center">
      <p *ngIf="castList.length==0">No Cast List Available</p>
      <div class="row " *ngIf="castList.length>0">
        <div class="col-md-3 mt-3" *ngFor="let cast of castList">
          <div class="card text-left">
            <img class="card-img-top" src="{{cast.person.image.medium}}" alt="">
            <div class="card-body">
              <h4 class="card-title">{{cast.person.name}}</h4>
              <p class="card-text">as <b> {{cast.character.name}}</b></p>
            </div>
          </div>
        </div>
      </div>


    </ng-template>
  </ngb-tab>
</ngb-tabset>